:root {
  /* Colores cálidos */
  --color-arena: #f7efe5;
  --color-durazno: #fbd4b4;
  --color-salmon: #f4a896;
  --color-terracota: #e28f83;
  --color-mostaza: #f6dfba;
  --color-salvia: #cfdcb9;
  --color-texto: #6e605c;
  --color-blanco: #ffffff;

  /* Tipografía */
  --font-principal: "Poppins", sans-serif;
}
