:root {
  /* Colores cálidos */
  --color-celeste: #2affff;
  --color-durazno: #fbd4b4;
  --color-salmon: #f4a896;
  --color-terracota: #e28f83;
  --color-mostaza: #f6dfba;
  --color-azul: #001658;
  --color-texto: #140f07;
  --color-blanco: #ffffff;
}
