@import url("../styles/variables.css");

.countdown-container {
  text-align: center;
  padding: 60px 20px;
  color: var(--color-texto);
  width: 100%;
}

.countdown-icon {
  font-size: 3.5rem;
  color: var(--color-azul);
  margin-bottom: 20px;
}

.countdown-titulo {
  font-size: 2rem;
  margin-bottom: 15px;
  color: var(--color-texto);
  font-weight: 500;
}

.countdown-subtitulo {
  font-size: 2.2rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--color-texto);
}

.countdown-tiempo h3 {
  font-size: 1.8rem;
  font-weight: bold;
  animation: fadeIn 1s ease-in-out;
}

.llego-msg {
  color: var(--color-mostaza);
  font-size: 2rem;
  font-weight: bold;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .countdown-icon {
    font-size: 2.5rem;
  }

  .countdown-titulo {
    font-size: 1.4rem;
  }

  .countdown-subtitulo {
    font-size: 1.6rem;
  }

  .countdown-tiempo h3 {
    font-size: 1.4rem;
  }

  .llego-msg {
    font-size: 1.5rem;
  }
}
.modal-cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}
.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
