@import url("../styles/variables.css");

.info-seccion {
  text-align: center;
  padding: 40px 20px;
  color: var(--color-texto);
  margin-bottom: 60px;
}

.info-contenido {
  max-width: 700px;
  margin: auto;
  color: var(--color-texto);
}

/* Icono adaptable */
.info-icono {
  font-size: 4.5rem;
  margin-bottom: 20px;
  color: var(--color-azul);
  transition: font-size 0.3s ease;
}

/* Título */
.info-contenido h2 {
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: var(--color-texto);
}

/* Subtítulo y descripción */
.info-subtitulo,
.info-descripcion {
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: var(--color-texto);
}

/* Botón */
.info-boton {
  display: inline-block;
  margin-top: 20px;
  padding: 16px 48px;
  background-color: var(--color-azul);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s ease;
}

.info-boton:hover {
  background-color: var(--color-celeste);
  color: black;
}

/* Responsive */
@media (max-width: 600px) {
  .info-seccion {
    margin-bottom: 30px;
  }
  .info-icono {
    font-size: 2.2rem;
  }

  .info-contenido h2 {
    font-size: 2rem;
  }

  .info-subtitulo,
  .info-descripcion {
    font-size: 1.1rem;
  }

  .info-boton {
    width: 90%;
    font-size: 1rem;
    padding: 12px;
  }
}
