@import url("./styles/variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #fff5f8;
  color: #333;
}

.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-size: 2.5rem;
  color: #d63384;
}

h2 {
  margin-top: 40px;
  color: #cc3366;
}

section {
  margin-top: 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
